langchain
langchain-community
langchain-core
langchain-openai
langchain-deepseek
langchain-huggingface
transformers
sentence-transformers
python-docx
pandas
numpy
streamlit
python-dotenv
torch
pyspellchecker
textblob
spacy
SpeechRecognition
pyaudio
pyttsx3
sounddevice 
pypdf