langchain
langchain-community
langchain-core
faiss-cpu
transformers
sentence-transformers
python-docx
PyPDF2
pandas
numpy
streamlit
python-dotenv
torch
pyspellchecker
textblob
spacy
SpeechRecognition
pyaudio
wave
pyttsx3
sounddevice 
pypdf